:root {
    --blue: #1B26E0;
    --white: #fff;
}

header {
    background-color: var(--blue);
    color: var(--white);
    padding: 5px;
}

ul li {
    list-style-type: none;
}

#five-day-forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }